<header>
    <h1>
        PELIMANIA "LA RIPOLL"
    </h1>
</header>
<h2>
        "Por favor, ingrese su Email y nueva contraseña"
</h2>
<div class="login-container">
    <form action="/api/session/restaurar" class="form-group" method="post">
        Email: <input type="email" name="email" id="email">
        Nueva contraseña: <input type="password" name="password" id="password">
        <input type="hidden" name="token" id="token" value="{{token}}">
        
        <button class="boton" onclick="restaurar()">RESTAURAR</button>

        {{!-- <input type="submit" class="boton" value="Restaurar"> --}}
    </form>
</div>
<script src="/functions.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
