<header>
    <h1>
        PELIMANIA "LA RIPOLL"
    </h1>
</header>
<h2>Bienvenido a tu perfil. Si deseas ser un miembro premium de esta hermosa comunidad por favor completa la documentacion solicitada.
    Sera un placer contar contigo. Esperamos que disfrutes la experiencia en Pelimania.  
</h2>

<form action="/api/users/{{uid}}/documents" enctype="multipart/form-data" method="post">
    DNI:<input type="file" name="dni" id="dni">
    ADDRESS:<input type="file" name="address" id="address">
    BANK:<input type="file" name="bank" id="bank">
    <input type="submit" value="Enviar">
</form>
<br>
<br>


<form id="changeRoleForm">
        <label for="email">Email de Usuario:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="role">Nuevo Rol:</label>
        <select id="role" name="role">
            <option value="user">Usuario</option>
            <option value="premium">Premium</option>
        </select>
        <input type="hidden" name="uid" id="uid" value="{{uid}}">

        <button type="button" onclick="changeUserRole('{{uid}}')">Cambiar Rol</button>
</form>
<script src="/functions.js"></script>

