<header>
    <h1>
        PELIMANIA "LA RIPOLL"
    </h1>
</header>
<h2>Aqui puede cambiar su role en la pagina, tenga en cuenta que como usuario premium podra
    dar de alta productos para su comercializacion, esperamos que su paso por nuestra pelimania
    sea positivo y enriquecedor. 
</h2>
<form id="changeRoleForm">
        <label for="email">Email de Usuario:</label>
        <input type="text" id="email" name="email" required>
        
        <label for="role">Nuevo Rol:</label>
        <select id="role" name="role">
            <option value="user">Usuario</option>
            <option value="premium">Premium</option>
        </select>
        <input type="hidden" name="uid" id="uid" value="{{uid}}">

        <button type="button" onclick="changeUserRole('{{uid}}')">Cambiar Rol</button>
</form>
<script src="/functions.js"></script>

